@model CourseVM

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Category"></label>
    <input asp-for="Category" class="form-control" />
    <span asp-validation-for="Category" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="InstructorId"></label>
    <select asp-for="InstructorId" asp-items="Model.Instructors" class="form-control">
        <option value="">-- Select Instructor --</option>
    </select>
    <span asp-validation-for="InstructorId" class="text-danger"></span>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}